.contact_form_label{
	float: left;
	margin-top: 10px;
}

.no-top-margin {
	margin-top: 0px;
}

.checkbox  {
    float: left;
}

// .wrap {
//      overflow: hidden;
// }

.email-wrap .checkbox {
     margin-right: 10px;
     width: auto;   
}

.testsms {
	margin-bottom: 20px;
}